-# vim: fileencoding=utf-8

.jumbotron
  .container
    %h2
      %span#user_name= @name + "さん"
      (
      %span#twitter_uid= @user_twitter_id
      ) のグラフ
    %ul.nav.nav-tabs
      %li.active
        %a{:href => "#graph", :data => {:toggle => "tab"}} 体重
      -#%li
        %a{:href => "#graph_bmi", :data => {:toggle => "tab"}} BMI
    .tab-content
      .tab-pane.active#graph
      -#.tab-pane#graph_bmi

- content_for :include do
  =javascript_include_tag 'weight_graph'
  =javascript_include_tag 'bmi_graph'

.container
  %ul.nav.nav-tabs
    %li.active
      %a{:href => "#record", :data => {:toggle => "tab"}} 記録
    %li
      %a{:href => "#userurl", :data => {:toggle => "tab"}} 公開URL
    %li
      %a{:href => "#settings", :data => {:toggle => "tab"}} 現在の設定
  .tab-content
    .tab-pane.active#record
      %h2
        現在の身長
      %ul
        %li#height= @height ? @height.round(2) : "未設定"
      %h2
        直近5回の記録
      %ul#weight_list
        - for i in @weight_list[0, 5]
          %li.weight_items= (i.weight ? i.weight.to_s : "" ) + "kg" + ((@height and i.weight) ? ("(BMI:"+ ((((i.weight)/((@height/100.0)**2.0)).round(2)).to_s) +")") : " " ) + " at"  + (i.datetime ? i.datetime : "?")
    .tab-pane#userurl
      %h2
        紹介用URL
      %p= "http://"+request.env["HTTP_HOST"]+"/show/"+@account_id
      -#バグが出たのでとりあえず決めうち。
    .tab-pane#settings
      %h2 現在の設定
      %dl.dl-horizontal
        %dt ページ公開/非公開
        %dd= @type['forbidden'] ? "非公開" : "公開"
        %dt コメント
        %dd= @comment.length==0 ? "未設定" : @comment
      %p
        %a{:href => "/setting"}設定ページへ


