-# coding: utf-8

.container
  - if @alert
    %ul.alert#project_list_alert
      %li.alert-info= @alert

.container
  %h2 プロジェクト一覧
  - if @project and @project.length > 0
    - for i in @project
      %h3
        %a{:href => ("/project/show/"+i[:creator_twitter_id].to_s+"/"+i[:project_name])}= i.project_name
      %dl.dl-horizontal
        %dt 作った人
        %dd= i[:creator_twitter_name] + " ( " + i[:creator_twitter_id].to_s + ")"
        %dt 開始日
        %dd= (i[:start_date] ? i[:start_date].to_s : "なし")
        %dt 終了日
        %dd= (i[:end_date] ? i[:end_date].to_s : "なし")
        %dt 種別
        %dd= (i[:project_type]['bmi'] ? "BMI" : "体重増減幅")
        %dt 状態
        %dd= (i[:project_type]['open'] ? "公開" : "非公開") + "," + (i[:project_type]['completed'] ? "完了" : "実行中")
  - else
    %p プロジェクトはありません


