-# fileencoding= utf-8

.container
  .row
    %h2= @project.project_name
    %dl
      %dt 作成者名
      %dd= @project.creator_twitter_name
      - if @project.start_date
        %dt 開始日
        %dd= utc_to_jststr(@project.start_date)
      - if @project.end_date
        %dt 終了日
        %dd= utc_to_jststr(@project.end_date)
      - if @project.project_type
        %dt 種別
        %dd= @project.project_type['bmi'] ? "BMI増減" : "体重増減幅"
  .row
    %h2 現在の状態
    - if @result
      - if not @project.project_type['bmi']
        %table.table#result_table
          %thead
            %tr
              %th 名前
              -#%th 開始体重
              -#%th 最終体重
              %th 結果
          %tbody
            - for i in @result
              %tr
                - unless i[:user_id]
                  %td= i[:twitter_name]
                - else
                  %td= link_to i[:twitter_name], "/show/"+i[:user_id]
                -#
                  - if i[:initial_weight] and not i[:initial_weight] == 0.0
                  %td= i[:initial_weight].round(1).to_s
                  - else
                    %td 値無し
                -#
                  - if i[:final_weight] and not i[:final_weight] == 0.0
                  %td= i[:final_weight].round(1).to_s
                  - else
                    %td 値無し
                - if i[:result]
                  %td= i[:result].round(1).to_s
                - else
                  %td 値無し
      - elsif @project.project_type['bmi']
        %table.table#result_table
          %thead
            %tr
              %th 名前
              -#%th 開始体重
              %th 開始BMI
              -#%th 最終体重
              %th 最終BMI
              %th 結果
          %tbody
            - for i in @result
              %tr
                - unless i[:user_id]
                  %td= i[:twitter_name]
                - else
                  %td= link_to i[:twitter_name], "/show/"+i[:user_id]
                -#
                  - if i[:initial_weight] and not i[:initial_weight] == 0.0
                  %td= i[:initial_weight].round(1).to_s
                  - else
                    %td 値無し
                - if i[:initial_bmi] and not i[:initial_bmi] == 0.0
                  %td= i[:initial_bmi].round(2).to_s
                - else
                  %td 値無し
                -#
                  - if i[:final_weight] and not i[:final_weight] == 0.0
                  %td= i[:final_weight].round(1).to_s
                  - else
                    %td 値無し
                - if i[:final_bmi] and not i[:final_bmi] == 0.0
                  %td= i[:final_bmi].round(2).to_s
                - else
                  %td 値無し
                - if i[:result]
                  %td= i[:result].round(1).to_s
                - else
                  %td 値無し


:javascript
  $(document).ready(function ()
    {
      $("#result_table").tablesorter();
    }
  );

- content_for :include do
  =javascript_include_tag 'jquery.tablesorter'
